.f-section-1-main {
    display:    grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
}

.f-section-1-col-1 .f-section-1-col-2{
    display:    grid;
    grid-template-columns: 30% 70%;
}

