.footer-cont-1 {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 0px;
}

.footer-cont-2 {
  height: 100%;
}

.center-top-col {
  border: 2px solid green;
}

.center-top-row {
  border: 2px solid red;
}
